@import "tailwindcss";

@theme {
  --font-body: var(--font-inter, "Inter"), -apple-system, "Segoe UI", Roboto,
    Arial, sans-serif;
  --font-display: var(--font-chakra-petch, "Chakra Petch"), -apple-system,
    "Segoe UI", Roboto, Arial, sans-serif;

  --color-brand-primary: #1ca7c8;
  --color-brand-secondary: #284260;
  --color-brand-gray: #9d9d9d;

  --color-background-primary: #ffffff;

  --color-foreground-primary: #284260;
  --color-foreground-secondary: #6e859f;
  --color-foreground-on-gray: #2d2d2d;

  --background-blur-opacity: 100%;
}

@layer base {
  .dark {
    --color-brand-primary: #1ca7c8;
    --color-brand-secondary: #284260;
    --color-brand-gray: #778da9;

    --color-background-primary: #131313;

    --color-foreground-primary: #e7ecef;
    --color-foreground-secondary: #bfc0c0;
    --color-foreground-on-gray: #2d2d2d;

    --background-blur-opacity: 25%;
  }
}

html {
  @apply scroll-smooth;
}

body {
  @apply font-body antialiased scroll-smooth bg-background-primary;
}

.text-gradient {
  background: linear-gradient(to right, #8c61d5, #1ca7c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.container {
  width: 100%;

  @media (width >= 40rem /* 640px */) {
    max-width: 40rem /* 640px */;
  }
  @media (width >= 48rem /* 768px */) {
    max-width: 48rem /* 768px */;
  }
  @media (width >= 64rem /* 1024px */) {
    max-width: 64rem /* 1024px */;
  }
  @media (width >= 80rem /* 1280px */) {
    max-width: 80rem /* 1280px */;
  }
  @media (width >= 96rem /* 1536px */) {
    max-width: 96rem /* 1536px */;
  }

  padding: 12px;
}
